@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baskervville', serif;
    background-color: #f1f5f8;
    line-height: 1.5;
}

/* HEADER */

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0.7;
}

header:hover, .image:hover, footer:hover {
    opacity: 1;
}

#logo {
    height: 85px;
    margin: 0 50px;
}

#searcher-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#searcher {
    width: 40%;
    margin: 10px;
    padding: 12px 20px 12px 40px;
    background-image: url("../images/search-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px;
    border: 1px solid #ddd;
}

#searcher:focus {
    outline: none;
    border:  1px solid #fc6c22;
}

/* MAIN */

main {
    min-height: 100vh;
    margin: 0 4rem;
}

h2, h4 {
    font-family: 'Roboto', sans-serif;
}

#title {
    text-align: center;
    margin: 2rem 0;
}

#btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.filter-btn {
    background-color: transparent;
    color:  #fc6c22;
    border: 1px solid  #fc6c22;
    padding: 0.375rem 0.75rem;
    margin: 0 0.5rem;
    letter-spacing: 0.05rem;
    outline: none;
    transition: all 0.3s linear;
}

.filter-btn:hover, .filter-btn:focus {
    background-color: #fc6c22;
    color: #ffffff;
}

#section-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    flex: 0 0 30%;
    margin-bottom: 2rem;
    padding: 20px;
    transform: scale(0.9);
    transition: all 500ms ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.image {
    opacity: 0.7;
    margin-top: 40px;
}

.item-info header {
    padding: 25px 15px 0 0;
    border-bottom: 0.5px dotted #617d98;
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.main-color{
    color: #fc6c22;
}

/* FOOTER */

footer {
    height: 85px;
    background-color: #ffffff;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h4, body {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .card {
      flex: 0 0 45%;  
    }
  
    #searcher {
      width: 60%;
    }
  
    #menu{ 
      margin: 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .card {
      flex: 0 0 80%;  
    }
  
    .image {
      height: 55%;
      margin-top: 0px;
    }
  
    .filter-btn {
      margin: 0 0.2rem;
      letter-spacing: 0rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
     
    #logo {
      margin: 0 20px;
    }
  
    #searcher {
      width: 100%;
    }
  
    #menu{ 
      margin: 0;
    }
  
    footer {
      font-size: 12px;
    }
  }
  